<ul>
    <li class="logo">
        <a href="/">
            <img src="imgs/banner.svg" width="300px">
        </a>
    </li>
    <li class="nav-links">
        <a id="fav-link" href="favorites"> <i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a id="about-link" href="about">About</a>
        <a id="signin-link" href="login">Log in</a>
        <a id="signup-link" href="signup">Sign up</a>
    </li>

</ul>