        <ul>
            <li class="logo">
                <a href="/">
                    <img src="imgs/banner.svg" width="300px">
                </a>
            </li>
            <li class="nav-links" style="float:right">
                <a id="about-link" href="about">ABOUT</a>
            </li>
        </ul>