<ul>
    <li class="logo">
        <a href="/">
            <img src="imgs/banner.svg" width="300px">
        </a>
    </li>
    <li class="nav-links" style="float:right">
        <a id="fav-link" href="favorites">FAVORITES <i class="fa fa-star-o" aria-hidden="true"></i></a>
        <a id="about-link" href="about">ABOUT</a>
    </li>
</ul>