<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Close Encounters of the Meteor Kind</title>
        <link href="styles/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body> 
        <ul>
            <li class="logo">
                <a href="/">
                    <img src="imgs/banner.svg" width="300px">
                </a>
            </li>
            <li class="nav-links" style="float:right">
                <a id="about-link" href="about">ABOUT</a>
            </li>
        </ul>

       

        <div class="about-contents">


            <h1  class="about-title">The Project</h1>
            <p><a href="https://github.com/Sebastian-git/north-star">"Encounters of the Meteor Kind"</a>, created by the team North Star from the <a
                    href="https://la-tech.org/snap-academies-class-of-2020">Snap Engineering Academy 2020</a>, is a
                website that displays atmospheric data reported by US Government sensors through NASA’s Fireball API. With
                search functionality, you can find recent locations of near-by fireballs. The location will be given through longitude and latitude, with the date and time displayed to give more detail.<br><br>
    
                The average person has a brief interest in the universe. Where did we come from? How was everything created?
                This branches off into a fun set of theories that most people occasionally think about like aliens, and a
                fond emotion of outer space. One legitimate fear that some people have is the possibility of asteroids
                hitting the earth, which is where North Star comes in. North Star can be a fun experience for those
                interested in where fireballs from outer space land, and general information behind them.
            </p>
    
            <h1 class="about-title">Meet the Team</h1>

           
            <p style="display: inline-block; margin: 0px; margin: 10px 60px 10px 0px;">
                <img src="../imgs/sebastian_profile.svg" alt="" width=200px"><br>
                <b>Sebastian Cevallos</b>
                <br> Role: Project Manager
                <br> Linkedin:<a href="https://www.linkedin.com/in/sebastian-cevallos-2917bb16a/"> sebastian-cevallos</a>
                <br> Github: <a href="https://github.com/Sebastian-git">Sebastian-git</a>
            </p>


           
            <p style="display: inline-block; margin: 0px 60px 10px 0px;"> <img src="../imgs/petula_profile.svg" alt="" width=200px"><br><b>Petula Pascall</b>
                <br> Role: Front-End Dev.
                <br> Linkedin: <a href="https://www.linkedin.com/in/petulapascall/">petulapascall</a>
                <br> Github: <a href="https://github.com/SeePetulaCode">SeePetulaCode</a>
                
            </p>


            
          
            <p style="display: inline-block; margin: 0px 50px 0px 0px;"> <img src="../imgs/brandan_profile.svg" alt="" width=200px"><br><b>Brandan Herron</b>
                <br> Role: Back-End Dev.
                <br> Linkedin: <a href="https://www.linkedin.com/in/brandan-herron/">brandan-herron</a>
                <br>Github: <a href="https://github.com/brandan1989">brandan1989</a>
                
            </p>
        </div>
    </body>
</html>