<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Close Encounters of the Meteor Kind</title>
        <link href="styles/style.css" rel="stylesheet">
        <link href="auth.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/94d9f1d0dc.js"></script>
    </head>

    <body> 

        
            <%- include("partials/header") %>

       
            <div class="about-contents">
                <h1  class="about-title">Favorites</h1>

                <h2>2020-08-02 16:36:25</h2>

                
                <p>
                    These nine stars form the shape of an armored man. The constellation represents a figure from a folktale. It is most significant on the winter solstice, when it appears high in the sky. It is close in the sky to the constellations representing a crossroads, a crow and a cart. Those born under it have an affinity for the element of earth.
                    
                </p>

          <div style="background-color: teal; width: 400px; height: 300px; margin: 20px; display: block"></div>


            <form>
                <input class="submit  button-fav" type="submit" value="Edit"> 
                <input class="submit    button-fav" type="submit" value="Delete">
            </form>

        
            </div>
        <video autoplay loop id="video-background" poster="../imgs/back1.jpg" muted>
            <source src="../imgs/meteor2.mp4" type="video/mp4">
          </video>

    </body>
</html>