<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Close Encounters of the Meteor Kind</title>
        <link href="styles/style.css" rel="stylesheet">
        <link href="auth.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/94d9f1d0dc.js"></script>
    </head>

    <body> 

        <div class="fav-contents">
        <p></p>
        <ul>
            <li class="logo">
                <a href="/">
                    <img src="imgs/banner.svg" width="400px">
                </a>
            </li>
      
            <li class="nav-links">
                <a id="fav-link" href="favorites"> <i class="fa fa-star-o" aria-hidden="true"></i></a>
                <a id="about-link" href="about">About</a>
                <a id="signin-link" href="login">Log in</a>
                <a id="signup-link" href="signup">Sign up</a>
            </li>
        
        </ul>

        <h1 id="search-title">Favorites</h1>

        </center>
    </div>
        <video autoplay loop id="video-background" poster="../imgs/back1.jpg" muted>
            <source src="../imgs/meteor2.mp4" type="video/mp4">
          </video>

    </body>
</html>