<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snap Observatory</title>
        <link href="styles/style.css" rel="stylesheet">
        <link href="auth.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/94d9f1d0dc.js"></script>
    </head>

    <body> 
            <%- include("partials/nav") %>

            <div class="about-contents">
                <h1  class="about-title">Favorites</h1>

                <ul class="favorite-table">
                    <% fireballs.forEach(fireballData => { %>
                        <li class="favorite-line">
                            <% fireballData.forEach(data => { %>
                                <span class="favorite-data"> <%= data %> </span>
                            <% }) %>
                        </li>
                    <% }) %>
                </ul>
                <center>
                    <img id="map" src="../imgs/map.png">
                </center>
            </div>
        <video autoplay loop id="video-background" poster="../imgs/back1.jpg" muted>
            <source src="../imgs/meteor2.mp4" type="video/mp4">
        </video>

    </body>
</html>