<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Close Encounters of the Meteor Kind</title>
        <link href="styles/style.css" rel="stylesheet">
    </head>

    <body> 
        <ul>
            <li class="logo">
                <a href="/">
                    <img src="imgs/banner.svg" width="300px">
                </a>
            </li>
            <li class="nav-links" style="float:right">
                <a class="active" href="#about">ABOUT</a>
            </li>
        </ul>

        <div class="definition">
            <img src="imgs/fireball_definition.svg" width="600px">
        </div>

        <div class="search-title">
            <h1>Search for Fireballs (ANYWHERE IN THE WORLD)</h1>
        </div>

        <div class="search-contents">
            <form class="search-form" method="POST" action="/">
                <div class="min-date">
                    <label for="year">Minimum date:</label>
                    <input type="date" name="min" value="2019-06-01" required>
                </div>
                <div class="max-date">
                    <label for="year">Maximum date:</label>
                    <input type="date" name="max" value="2020-01-01" required>
                </div>
                <input type="submit" value="Submit">
                <div id="search-results">
                    <input type="text" name="results" disabled>
                </div>
            </form>
        </div>

    </body>
</html>