<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Close Encounters of the Meteor Kind</title>
    <link href="styles/style.css" rel="stylesheet">
</head>

<body> 
    <ul>
        <li class="logo"><a href="#home"><img src="imgs/banner.svg" width="300px"></a></li>
        <li class="navlinks" style="float:right"><a class="active" href="#about">ABOUT</a></li>
    </ul>
    <div class="defContent"><img src="imgs/fireball_definition.svg" width="600px"></div>
    
    <div class="searchContent">
        <h1>Search for Fireballs (ANYWHERE IN THE WORLD)</h1>
    </div>
    <p>Addition</p>

    <div class="search-contents">
        <form id="search-form" method="POST" action="/">
            <div class="max-date">
                <label for="year">Minumum date:</label>
                <input type="date" name="min" value="Example: ">
            </div>
            <div class="min-date">
                <label for="year">Maximum date:</label>
                <input type="date" name="max" value="Example: ">
            </div>
            <input type="submit" value="submit">
        </form>
    </div>

</body>
</html>