<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>North Star</title>
</head>
<body>
    

    <div class="search-contents">
        <div class="search-bar">
            
        </div>
        <div class="search-form">


        </div>
    </div>
</body>
</html>