<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>North Star</title>
</head>
<body>
    

    <div class="search-contents">
        <form id="search-form" method="POST" action="/">
            <label for="date">Please input date:</label>
            <input type="text" name="date">
            <input type="submit" value="submit">
        </form>
    </div>
    
</body>
</html>