<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Close Encounters of the Meteor Kind</title>
        <link href="styles/style.css" rel="stylesheet">
    </head>

    <body> 
        <ul>
            <li class="logo">
                <a href="/">
                    <img src="imgs/banner.svg" width="300px">
                </a>
            </li>
            <li class="nav-links" style="float:right">
                <a id="about-link" href="#about">ABOUT</a>
            </li>
        </ul>

        <div class="definition">
            <img src="imgs/fireball_definition.svg" width="600px">
        </div>

        <h1 id="search-title">Search for Fireballs (ANYWHERE IN THE WORLD)</h1>

        <div class="search-contents">
            <form class="search-form" method="POST" action="/">
                <div class="min-date">
                    <label for="year">Minimum date:</label>
                    <input type="date" name="min" value="2019-06-01" required>
                </div>

                <div class="max-date">
                    <label for="year">Maximum date:</label>
                    <input type="date" name="max" value="2020-01-01" required>
                </div>

                <input type="submit" value="Submit">

                <div class="search-results-box">
                    <h1 id="result-count"> <%=currentData.length %> Results </h1>
                    <ul class="search-results">
                        <li>
                            <% for (let i = 0; i < fieldData.length; i++) { %>
                                    <p> <strong> <%=fieldData[i] %> </strong> </p>
                            <% } %>
                        </li>
                        <li class="search-result-line">
                            
                        </li>
                        <% for (let i = 0; i < currentData.length; i++) { %>
                            <li class="search-result-line">
                            <% for (let j = 0; j < 5; j++) { %>
                                <% if (!currentData[i][j]) currentData[i][j] = "N/A"; %>
                                <p> <%=currentData[i][j] %> </p>
                            <% } %>
                            </li>
                        <% } %>
                    </ul>
                </div>

            </form>
        </div>

    </body>
</html>