<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>North Star</title>
    <link href="styles/style.css" rel="stylesheet">
</head>
<body> 
    
    <div class="search-contents">
        <form id="search-form" method="POST" action="/">
            <label for="year">Minumum date:</label>
            <input type="date" name="year" value="Example: ">
            <br>
            <label for="year">Maximum date:</label>
            <input type="date" name="year" value="Example: ">
            <br>
            <input type="submit" value="submit">
        </form>
    </div>

</body>
</html>