<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Close Encounters of the Meteor Kind</title>
        <link href="styles/style.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/94d9f1d0dc.js"></script>
    </head>

    <body> 

     

        <div class="definition">
            <img src="imgs/fireball_definition.svg" width="700px">
        </div>

      
        <video autoplay loop id="video-background" poster="../imgs/back1.jpg" muted>
            <source src="../imgs/meteor2.mp4" type="video/mp4">
          </video>

    </body>
</html>